<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- GOOGLE OAUTH SIGN IN--> 
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="569952233819-lgdlvk1oegia299p1gbil25j51gis3q0.apps.googleusercontent.com">
    </head>
    <body style="background-color: #E5E2E2;">
    	<nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <div class="navbar-header">
    				<a class="navbar-brand h1 " href="{{url_for('index')}}">
                        <span> Catalog App </span>
                    </a>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <a href="#" onclick="signOut();">Sign out</a>
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </div>
            </div>
		</nav>
		<div class="container p-5 mt-5" style="background-color: white;">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul> 
            {%for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        

		{% block content %}
		{% endblock %}
    	</div>

        <!-- GOOGLE OAUTH SIGN IN SCRIPT -->
        <script>

          function onSignIn(googleUser) {
              var profile = googleUser.getBasicProfile();
              var id_token = googleUser.getAuthResponse().id_token;
              console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
              console.log('Name: ' + profile.getName());
              console.log('Image URL: ' + profile.getImageUrl());
              console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            }

        
          function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              console.log('User signed out.');
            });
          }


        </script>

      
   	</body>
</html>