<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="background-color: #E5E2E2;">
    	<nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <div class="navbar-header">
    				<a class="navbar-brand h1 " href="{{url_for('index')}}">
                        <span> Catalog App </span>
                    </a>
                </div>
                <div class="nav navbar-nav navbar-right">
                  {% if current_user.is_authenticated %}
                  <a class="button btn btn-outline-light" href="{{url_for('logout')}}">Logout</a>
                  {% else %}
                  <a class="button btn btn-outline-light" href="{{url_for('login')}}">Google Login</a>
                  {% endif %}
                </div>
            </div>
		</nav>
		<div class="container p-5 mt-5" style="background-color: white;">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul> 
            {%for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        

		{% block content %}
		{% endblock %}
    	</div>
   	</body>
</html>